:root{
  --header-height: 3rem;
  /* ===== colors ====== */
  --hue-color: 340;
  
  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 69%, 99%);
}
body{
  background-color: var(--body-color);
  color: var(--text-color);
  /* color:rgb(65, 62, 62); */
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
}
h1,h2,h3,h4{
  color: var(--title-color);
  font-weight: 600;
}
button{
  background-color: var(--first-color) !important;
  color:#FFF !important;
}
.div-image{
  background-color:var(--first-color)
}
.click-icons > i {
  color: var(--first-color)
}
.click-icons > i:hover{
  color: var(--first-color-alt)
}

.swiper {
  width: 95%;
  height: 500px;
}
.widthOfCard{
  width: 70%;
}
.swiper-button-prev{
  font-size: 10px !important;
  color:var(--first-color);
} 
.swiper-button-next{
  font-size: 10px !important;
  color: var(--first-color) !important;
} 
.swiper-pagination-bullet{
  background-color: var(--first-color) !important;
}
.skillBar, .skillPercentage{
  height: 5px
}
.skillBar{
  background-color: var(--input-color);
  
}
.skillPercentage{
  background-color: var(--first-color);
}
.skillHtml{
  width:90%
}
.skillCss{
  width:70%
}
.skillBootstrap{
  width:80%
}
.skillJavascript{
  width:70%
}
.skillReact{
  width:2%
}
.line-height{
  line-height: 1.5;
}
.m-contact{
  padding:0;
  margin: 0;
}
.side-bar{
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  left:100%;
  background:#fff;
  color:black;
  transition: 0.2s;
}
.openSidebar{
 left:10%;
 translate:ease-out;
}
ul{
  list-style:none;
  padding-left:0;
}
li{
  text-decoration: none;
  /* border-bottom: 2px solid rgb(97, 93, 93); */
  padding-bottom: 4px;
}
.w-95{
  width: 95%
}
.a{
  text-decoration: none;
  color: white !important
}
a{
  text-decoration: none;
}
input, textarea{
  background-color: var(--input-color) !important;
  outline: none !important;
  border: none !important;
}
@media (min-width: 768px){
  .swiper{
    width: 80%;
    height: 500px
  }
  .imageOfCard{
    width:50% !important;
    margin-right: 1rem;
  }
  :root{--swiper-navigation-size: 44px;}
}
@media (min-width: 1200px){
  .swiper{
    width: 60%;
    height: 500px
  }              
}

